.drag-area.active {
  position: relative;
  opacity: 0.35;
}
/* https://stackoverflow.com/questions/9062988/newline-character-sequence-in-css-content-property */
.drag-area.active::before {
  white-space: pre-wrap;
  content: 'Drop\A Files\A Here';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: impact;
  font-size: 4rem;
  line-height: 5rem;
  color: var(--bgc-vi);
}
.upload-progress > div {
  height: 2px;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  background-color: var(--color-sub);
}
.upload-progress > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: var(--bgc-vi);
}

.item-pri {
  color: var(--color-pri);
}
.item-sec {
  color: var(--color-sec);
  font-size: 0.7em;
}
.em-select {
  text-decoration: none;
  color: var(--color-sec);
  transition: 100ms;
  cursor: pointer;
}
.em-select:hover {
  color: var(--color-em);
  background-color: var(--bgc-em);
}

.list-item {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: var(--bdr-r);
  cursor: pointer;
}
.list-item .item-pri,
.list-item .item-sec {
  padding: 0 2rem 0 5px;
}

.truncate {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}
.enabled {
  fill: var(--bgc-vi) !important;
}

.playing {
  transition: 300ms;
  background-color: var(--bgc-em);
  color: var(--color-pri) !important;
  transform: scale(1.3);
  font-weight: 900;
}

embed,
iframe {
  position: fixed;
  width: 400px;
  height: 200px;
  right: 0;
  bottom: 0;
}
