* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
body {
  height: 100vh;
  background-color: var(--bgc-bg);
  overflow: hidden;
}
/* ?------------------------------- */
aside {
  background-color: var(--bgc-aside);
  width: 170px;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;

  display: flex;
  flex-direction: column;
}
#logo {
  width: 100%;
  height: var(--logo-height);
  background-color: var(--bgc-vi);
  /* background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover; */
}
#funcsAside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#funcsAside > div {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
#funcsAside > div > a {
  padding: 15px 20px;
  border-radius: var(--bdr-r);
  font-size: 1rem;
}
#funcsAside > div > a i {
  padding: 0 10px;
}
/* ?------------------------------- */
main {
  width: calc(100% - var(--aside-width));
  height: 100%;
  position: absolute;
  left: var(--aside-width);
  top: 0px;
  display: flex;
}
#progressBar {
  width: 0%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: var(--bgc-vi);
}
#queryPopup {
  position: fixed;
  min-width: 200px;
  max-width: 300px;
  transform: scale(0);
  transform-origin: right top;
  transition: 300ms;
  overflow: hidden;
  background-color: var(--bgc-em);
  color: var(--color-em);
  padding: 12px;
  z-index: 10;
  text-align: justify;
  font-size: 1rem;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
  border-radius: var(--bdr-r);
  word-break: break-all;
}
#queryCtrls {
  position: absolute;
  top: 5px;
  right: 5px;
}
#queryCtrls svg {
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
  padding: 5px;
  fill: var(--color-sub);
  cursor: pointer;
}
#queryPopup.popup {
  transform: scale(1);
}

#toastContainer {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#settings {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--bgc-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#settings h1 {
  font-size: 3rem;
  margin: 20px 0;
  color: var(--color-pri);
}
#settings form {
  border-radius: var(--bdr-r);
  background-color: var(--bgc-em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-em);
  overflow: hidden;
  padding: 20px 40px;
  margin: 10px;
}
#settings form label {
  position: relative;
  margin-left: 30px;
  font-size: 2rem;
  height: 50px;
  display: flex;
  align-items: center;
}
#settings form label input[type='checkbox'] {
  -moz-appearance: none;
  width: 2rem;
  height: 2rem;
  border: 4px solid var(--color-em);
  transition: 300ms cubic-bezier(0.3, 0.4, 0.5, 1.6);
  transform-origin: center;
}
#settings form label input[type='checkbox']:checked {
  height: 1rem;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
#settings form label span {
  position: absolute;
  left: 3rem;
}
#logout {
  position: absolute;
  text-transform: uppercase;
  background-color: var(--bgc-vi);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--bdr-r);
  color: var(--bgc-fg);
  font-weight: bold;
  top: 1rem;
  right: 1rem;
}
