#panelLyrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* ?------------------------------ */
#dndUploadLyrics {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  border-left: 1px solid var(--color-bdr);
}
#dndUploadLyrics .list-item {
  user-select: text;
}
#dndUploadLyrics .list-item::selection {
  color: var(--bgc-fg);
  background-color: var(--bgc-vi);
}
/* ?------------------------------ */
#noLyrics {
  position: absolute;
  top: 0;
  left: 0;
  bottom: var(--bottom-bar-height);
  right: 0;
  background-color: var(--color-bdr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: impact;
  font-size: 3rem;
  color: var(--bgc-fg);
  text-shadow: -2px 2px 0px var(--color-em);
  opacity: 0.5;
}
#noLyrics b {
  color: var(--bgc-vi);
}
#noLyrics svg {
  width: 8rem;
  height: 8rem;
  fill: var(--bgc-vi);
}
/* ?------------------------------- */
#audioPlayerCtrl {
  width: 100%;
  height: var(--bottom-bar-height);
  border-top: 1px solid var(--color-bdr);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
#audioPlayerCtrl div {
  height: 100%;
  display: flex;
  align-items: center;
}
#audioPlayerCtrl svg {
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  fill: var(--color-sub);
  cursor: pointer;
}
#audioPlayerCtrl svg:hover {
  fill: var(--color-em);
}
input[type='range'] {
  -moz-appearance: none;
  margin: 0 5px;
  width: 100px;
  height: 20px;
  overflow: hidden;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  border: none;
  background: url('/static/images/volume-30.png') no-repeat 0 center;
  background-size: 100px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  width: 0;
}
input[type='range']::-moz-range-progress {
  width: 100%;
  height: 100%;
  background: url('/static/images/volume.png') no-repeat 0 center;
  background-size: 100px;
}
/* ?------------------------------ */
#lineOffset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
#lineOffset svg {
  width: auto;
  height: 1rem;
}
