.toast {
  position: relative;
  top: 0;
  right: -150%;
  height: 40px;
  line-height: 40px;
  padding: 0 2rem;
  color: var(--color-em);
  background-color: #fff;
  transition: 300ms;
  box-shadow: -2px 2px 2px 0 var(--color-shadow);
  border-left-width: 1rem;
  border-left-style: solid;
}
.toast-success {
  border-left-color: #3c3;
}
.toast-failure {
  border-left-color: #333;
}
.toast-alert {
  border-left-color: #c33;
}
.toast-active {
  right: 0;
}
