#toAuth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: repeating-linear-gradient(
    30deg,
    var(--bgc-em) 0%,
    var(--bgc-em) 10%,
    var(--bgc-fg) 10%,
    var(--bgc-fg) 20%
  );
}
#toAuth h1 {
  font-size: 4rem;
  color: var(--color-em);
  text-transform: uppercase;
}
#toAuth a {
  background-color: var(--bgc-vi);
  color: var(--bgc-fg);
  padding: 1rem 2rem;
  border-radius: var(--bdr-r);
  margin: 2rem 0;
  font-size: 2rem;
}
